<div class="cover container">
    <div class="cover-content">

        <h2>The Racket blog.</h2>
        <h3 style="color: var(--secondary-text-color);font-size: 2em;">on turning it up and making a racket.</h3>
    </div>
</div>