.theme-dark:root {
    --primary-text-color: #f5efeb;
    --secondary-text-color: #7c736d;
    --white-color: #211e1b;
    --lighter-gray-color: #302B28;
    --light-gray-color: #534B46;
    --mid-gray-color: #ADA69F;
    --dark-gray-color: #EBE5E0;
    --darker-gray-color: #FFF9F5;
    --quotebg-color: #433924;
    --quotetxt-color: #EFD56C;
    --quoteaccent-color: #221E1B;
}

.theme-dark .logo-image.white + .logo-image,
.theme-dark .cover-icon-image.white + .cover-icon-image {
    opacity: 0;
}

.theme-dark .logo-image.logo-image.white,
.theme-dark .cover-icon-image.white {
    opacity: 1;
}

.theme-dark .sticky {
    background-color: rgba(0, 0, 0, 0.6);
}

.theme-dark .form-button,
.theme-dark .pswp__counter {
    color: var(--darker-gray-color);
}

.theme-dark .share-link {
    background-color: var(--darker-gray-color);
}

.theme-dark .share-link-facebook {
    color: var(--facebook-color);
}

.theme-dark .share-link-twitter {
    color: var(--twitter-color);
}

@media (prefers-color-scheme: dark) {
    html:not(.theme-light):root {
        --primary-text-color: #f5efeb;
        --secondary-text-color: #7c736d;
        --white-color: #211e1b;
        --black-color: #FFF9F5;
        --lighter-gray-color: #302B28;
        --light-gray-color: #534B46;
        --mid-gray-color: #ADA69F;
        --dark-gray-color: #EBE5E0;
        --darker-gray-color: #FFF9F5;
        --quotebg-color: #433924;
        --quotetxt-color: #EFD56C;
        --quoteaccent-color: #221E1B;
    }

    html:not(.theme-light) .logo-image.white + .logo-image,
    html:not(.theme-light) .cover-icon-image.white + .cover-icon-image {
        opacity: 0;
    }

    html:not(.theme-light) .logo-image.logo-image.white,
    html:not(.theme-light) .cover-icon-image.white {
        opacity: 1;
    }

    html:not(.theme-light) .sticky {
        background-color: rgba(0, 0, 0, 0.6);
    }

    html:not(.theme-light) .form-button,
    html:not(.theme-light) .pswp__counter {
        color: var(--darker-gray-color);
    }

    html:not(.theme-light) .share-link {
        background-color: var(--darker-gray-color);
    }

    html:not(.theme-light) .share-link-facebook {
        color: var(--facebook-color);
    }

    html:not(.theme-light) .share-link-twitter {
        color: var(--twitter-color);
    }
}
