{{!< docs_head}}

<div class="cover container">
    <div class="cover-content">

        <h2>Racket documentation.</h2>
        <h3 style="color: var(--secondary-text-color);font-size: 2em;">Everything you need to make a Racket.</h3>
    </div>
</div>

<div class="content-area">
    <main class="site-main">
        <div class="post-feed container medium">
            {{#foreach posts visibility="all"}}
                {{> "loop"}}
            {{/foreach}}
        </div>
        {{pagination}}
    </main>
</div>

<div class="cover container">
    <div class="cover-content">
    <br />
        <h3 style="color: var(--secondary-text-color);font-size: 2em;">Need more help?</h3>
            <div data-tf-widget="QX5h1VcT" data-tf-opacity="50" data-tf-hide-headers data-tf-hide-footer style="width:100%;height:350px;"></div><script src="//embed.typeform.com/next/embed.js"></script>

    </div>
</div>