{{!< default}}

<div class="content-area">
    <main class="site-main">
        <div class="post-feed container medium">
            <h3 class="" style="color: var(--secondary-text-color);font-size: 2em;">and more.</h3>
            {{#foreach posts visibility="all"}}
                {{> "loop"}}
            {{/foreach}}
        </div>
        {{pagination}}
    </main>
</div>