.title-image img {
    position: absolute;
    top: 1em;
    border-radius: 80% 100% 70% 90%;
    max-width: 30%;
    max-height: 30%;
    font-size: 90px;
    margin-left: 70%;
}

.single-content {
    font-family: var(--font-second);
}

.single-content h2::before {
    content: "## ";
    margin-left: -1.8em;
    color: #CDC7C1;
}

.single-content h3::before {
    content: "### ";
    margin-left: -1em;
    color: #CDC7C1;
}

.single-header {
    margin-bottom: 2em;
    text-align: center;
}

.single-meta {
    margin-top: -1em;
    color: var(--secondary-text-color);
    font-size: 1.2rem;
    font-weight: 800;
    font-style: italic;
    text-align: left;
}

.single-meta-item + .single-meta-item::before {
    content: " ";
    padding: 0 0.3rem;
    font-family: serif;
}

.single-meta-tag .post-tag {
    color: var(--brand-color);
    background-color: var(--lighter-gray-color);
    padding: 5px 10px;
    border-radius: 10px;
    font-family: var(--font-mono);
}

.single-title {
    margin-bottom: 0;
    font-size: 4em;
    line-height: 1;
    letter-spacing: -0.1rem;
    max-width: 80%;
}

.single-excerpt {
    margin-top: 2rem;
    font-size: 2em;
    text-align: left;
    font-family: 'NeuePlak-Black';
    line-height: 1;
    color: var(--mid-gray-color);
    max-width: 85%;
}

.single-media {
    margin-top: 4.5rem;
}

.single-cta {
    margin-top: 4rem !important;
    padding: 3rem;
    border-top: 5px solid var(--brand-color);
    border-bottom: 1px solid var(--light-gray-color);
    text-align: center;
}

.single-cta-title {
    margin: 0 0 3rem !important;
}

.single-cta-button {
    margin-bottom: 1rem;
    font-weight: 800 !important;
}

.single-cta-footer {
    font-size: 1.4rem;
    font-weight: 400 !important;
    letter-spacing: -0.02rem;
}

.single-footer {
    display: flex;
    align-items: center;
    margin-top: 3rem;
}

.single-footer-left,
.single-footer-right {
    flex: 2;
    display: flex;
}

.single-footer-right {
    justify-content: flex-end;
}

.single-footer-middle {
    display: flex;
    flex-direction: column;
}

.single-footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single-footer-title {
    margin-bottom: 1rem;
    font-size: 1.8rem;
}

.single-footer-bottom {
    margin-top: 2rem;
}

@media (max-width: 991px) {
    .single-title {
        max-width: 75%;
    }
}

@media (max-width: 767px) {
    .single-header {
        margin-bottom: 3rem;
    }

    .single-title {
        font-size: 2.6rem;
    }

    .single-excerpt {
        font-size: 1.7rem;
    }

    .single-media {
        margin-top: 3rem;
    }

    .title-image img {
        position: initial;
        top: 0;
        border-radius: 80% 100% 70% 90%;
        max-width: 80%;
        max-height: 80%;
        font-size: 90px;
        margin-left: 10%;
    }
}
